Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.staging.local
.env.development.local
.git
.gitignore
.gitmodules
.cache
.next
.nuxt
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
coverage
.nyc_output
.vscode
.idea
.DS_Store
*.tgz
*.tar.gz
data/
._*